<!DOCTYPE html>
<html>
<head>
    <title>Select User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Select a User</h1>

    <div class="nav">
        <a href="/users/add">Add User</a>
        <a href="/rooms">View Rooms</a>
    </div>


    {% if users %}
    <div class="user-list">
        {% for user in users %}
            <a href="/user/{{ user.user_id }}">{{ user.username }}</a>
        {% endfor %}
    </div>
    {% else %}
    <p>No users found.</p>
    {% endif %}

</div>
</body>
</html>