<!DOCTYPE html>
<html>
<head>
    <title>Device Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
<h1>{{ user.username }}'s Device Logs</h1>

<div class="nav">
    <a href="/user/{{ user.user_id }}">Back to Device List</a>
    <a href="/user/{{ user.user_id }}/dashboard">Dashboard</a>
    <a href="/user/{{ user.user_id }}/add">Add Device</a>
    <a href="/">Change User</a>
</div>


{% if logs %}
<table border="1">
    <tr>
        <th>Log ID</th>
        <th>Device ID</th>
        <th>Device Name</th>
        <th>Action</th>
        <th>Action Date</th>
        <th>Notes</th>
        <th>Last Updated</th>
    </tr>

    {% for log in logs %}
    <tr>
        <td>{{ log.log_id }}</td>
        <td>{{ log.device_id }}</td>
        <td>{{ log.device_name }}</td>
        <td>{{ log.action_type }}</td>
        <td>{{ log.action_date }}</td>
        <td>{{ log.notes }}</td>
        <td>{{ log.last_updated_metadata }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No logs found for this user.</p>
{% endif %}

</div>
</body>
</html>